In [21]:
import pandas as pd
import logging

In [22]:
## Testing my funcitons ##
from config.logger_setup import setup_logging
setup_logging()
logger = logging.getLogger(__name__)

In [23]:
from src.cleaner import df_cleaner, split_data
from src.encoder import encode_categorical_columns
from src.robust_scaler import scale_numerical_columns, transform_with_scaler
from src.db_helpers import SQLConnection

In [24]:
test_data = pd.read_csv("data/raw_data/fraudTest.csv")

In [25]:
cleaned_data = df_cleaner(test_data,logger)

In [26]:
cleaned_data = encode_categorical_columns(cleaned_data,None,"models/transformers/encoders/ordinal_encoder.pkl",logger)

2025-05-12 17:11:19,441 - __main__ - INFO - Encoder cargado exitosamente desde models/transformers/encoders/ordinal_encoder.pkl

In [15]:
encode_categorical_columns(cleaned_data,"models/transformers/encoders/ordinal_encoder.pkl",None,logger)

2025-05-12 14:58:51,232 - __main__ - INFO - Encoder guardado exitosamente en models/transformers/encoders/ordinal_encoder.pkl

        category  amount  gender  state  city_population  is_fraud  age  hour
0           10.0    2.86     1.0   39.0           333497         0   57    12
1           10.0   29.84     0.0   43.0              302         0   35    12
2            5.0   41.28     0.0   33.0            34496         0   54    12
3            9.0   60.05     1.0    8.0            54767         0   37    12
4           13.0    3.19     1.0   21.0             1126         0   69    12
...          ...     ...     ...    ...              ...       ...  ...   ...
555714       5.0   43.77     1.0   23.0              519         0   59    23
555715       7.0  111.84     1.0   42.0            28739         0   25    23
555716       7.0   86.88     0.0   46.0             3684         0   43    23
555717      13.0    7.99     1.0   12.0              129         0   59    23
555718       0.0   38.13     1.0   35.0           116001         0   32    23

[555719 rows x 8 columns]

In [27]:
cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555719 entries, 0 to 555718
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   category         555719 non-null  float64
 1   amount           555719 non-null  float64
 2   gender           555719 non-null  float64
 3   state            555719 non-null  float64
 4   city_population  555719 non-null  int64
 5   is_fraud         555719 non-null  int64
 6   age              555719 non-null  int64
 7   hour             555719 non-null  int32
dtypes: float64(4), int32(1), int64(3)
memory usage: 31.8 MB

In [33]:
X, Y = split_data(cleaned_data,"is_fraud",logger)

In [29]:
X

        category  amount  gender  state  city_population  age  hour
0           10.0    2.86     1.0   39.0           333497   57    12
1           10.0   29.84     0.0   43.0              302   35    12
2            5.0   41.28     0.0   33.0            34496   54    12
3            9.0   60.05     1.0    8.0            54767   37    12
4           13.0    3.19     1.0   21.0             1126   69    12
...          ...     ...     ...    ...              ...  ...   ...
555714       5.0   43.77     1.0   23.0              519   59    23
555715       7.0  111.84     1.0   42.0            28739   25    23
555716       7.0   86.88     0.0   46.0             3684   43    23
555717      13.0    7.99     1.0   12.0              129   59    23
555718       0.0   38.13     1.0   35.0           116001   32    23

[555719 rows x 7 columns]

In [30]:
Y

0         0
1         0
2         0
3         0
4         0
         ..
555714    0
555715    0
555716    0
555717    0
555718    0
Name: is_fraud, Length: 555719, dtype: int64

In [35]:
# X = scale_numerical_columns(X,"models/transformers/scalers/robust_scaler.pk",None, logger)
X = scale_numerical_columns(X,None,"models/transformers/scalers/robust_scaler.pk", logger)

2025-05-12 17:23:50,783 - __main__ - INFO - Scaler loaded successfully from models/transformers/scalers/robust_scaler.pk
2025-05-12 17:23:50,925 - __main__ - INFO - Successfully scaled 7 numerical columns

In [36]:
X

(        category    amount  gender     state  city_population       age  \
 0       0.571429 -0.605478     1.0  0.565217        17.477249  0.333333
 1       0.571429 -0.237803     0.0  0.739130        -0.111170 -0.583333
 2      -0.142857 -0.081902     0.0  0.304348         1.693834  0.208333
 3       0.428571  0.173889     1.0 -0.782609         2.763883 -0.500000
 4       1.000000 -0.600981     1.0 -0.217391        -0.067673  0.833333
 ...          ...       ...     ...       ...              ...       ...
 555714 -0.142857 -0.047969     1.0 -0.130435        -0.099715  0.416667
 555715  0.142857  0.879667     1.0  0.695652         1.389939 -1.000000
 555716  0.142857  0.539520     0.0  0.869565         0.067356 -0.250000
 555717  1.000000 -0.535568     1.0 -0.608696        -0.120302  0.416667
 555718 -0.857143 -0.124830     1.0  0.391304         5.996252 -0.708333

             hour
 0      -0.166667
 1      -0.166667
 2      -0.166667
 3      -0.166667
 4      -0.166667
 ...          ...
 555714  0.750000
 555715  0.750000
 555716  0.750000
 555717  0.750000
 555718  0.750000

 [555719 rows x 7 columns],
 RobustScaler())